<hr class="hr-line"  id="skills">
<section  class="skills">
        <article class="articleSkills">
            <h2>Mes compétences : </h2>
            <ul>
                <li class="espace">.net en C#(Winform, Application Web,API, Web service) sous l'echosysteme Visual Studio</li>
                <li class="espace"> Java SE -Java JEE(JSP,JSF)</li>
                <li class="espace"> Création d'API sous SpringBoot ou node.js</li>
                <li class="espace"> PHP</li>
                <li class="espace"> Angular.js - tree.js</li>
                <li class="espace"> Développement mobile : Xamarin et Android Studio </li>
                <li class="espace"> SGBD : SQLServer - mysql - mongodb - Oracle Database - PostGreSQL</li>
                <li class="espace"> Autres : Infographie(adobe photoshop...), video(adobe premiere), bureautique</li>


            </ul>
        </article>
</section>
